ErrorDocument 404 http://localhost/m3nzcart/404

RewriteEngine On
RewriteRule ^index?$    doc/home.php     [L]
RewriteRule ^contact?$    doc/contact.php     [L]
RewriteRule ^search?$    doc/search.php     [L]
RewriteRule ^cart?$    doc/cart.php     [L]
RewriteRule ^checkout?$    doc/checkout.php     [L]
RewriteRule ^register?$    doc/register.php     [L]
RewriteRule ^login?$    doc/login.php     [L,QSA]
RewriteRule ^login/([^/\.]+)/?$    doc/login.php?ref=$1     [L]
RewriteRule ^logout?$    doc/logout.php     [L]
RewriteRule ^logout/([^/\.]+)/?$    doc/logout.php?ref=$1     [L]
RewriteRule ^my-account?$   doc/my-account.php     [L]
RewriteRule ^about?$    doc/about.php     [L]
RewriteRule ^privacy?$    doc/privacy.php     [L]
RewriteRule ^faqs?$    doc/faqs.php     [L]
RewriteRule ^services?$    doc/services.php     [L]
RewriteRule ^wishlists?$    doc/wishlists.php     [L]
RewriteRule ^order-history?$    doc/order-history.php     [L]
RewriteRule ^thank-you?$    doc/thank-you.php     [L,QSA]
RewriteRule ^404?$    doc/404.php     [L]
RewriteRule ^ajax?$    doc/ajax.php     [L]
RewriteRule ^all-products?$    doc/all-products.php     [L]
RewriteRule ^page/([^/\.]+)/?$    doc/page.php?page=$1     [L,QSA]
RewriteRule ^details/([^/\.]+)/([0-9]+)/?$    doc/details.php?main=$1&prid=$2     [L]
RewriteRule ^products/([^/\.]+)/([^/\.]+)/?$    doc/products.php?main=$1&subfilter=$2     [L,QSA]
RewriteRule ^products/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$    doc/products.php?main=$1&sub=$2&subfilter=$3     [L,QSA]
RewriteRule ^products/([^/\.]+)/([^/\.]+)/([^/\.]+)/([0-9]+)/([^/\.]+)/([0-9]+)/?$    doc/products.php?main=$1&sub=$2&subfilter=$3&sort=$4&brand=$5&page=$6     [L,QSA]